---
# nix flake show --json | jq '.nixosConfigurations | keys' | mustache drone-yaml.mustache
kind: pipeline
type: exec
name: flake info

platform:
  os: linux
  arch: amd64

clone:
  depth: 1

steps:

- name: show flake info
  commands:
  - nix --experimental-features "nix-command flakes" flake show
  - nix --experimental-features "nix-command flakes" flake metadata

- name: run flake checks
  commands:
  - nix --experimental-features "nix-command flakes" flake check --show-trace
{{#hosts}}

---
kind: pipeline
type: exec
name: build {{name}}

platform:
  os: linux
  arch: amd64

clone:
  depth: 1

steps:

- name: build {{name}}
  commands:
  - nix build -v '.#nixosConfigurations.{{name}}.config.system.build.toplevel'

- name: show closure size
  commands:
  - nix path-info --closure-size -h $(readlink -f result)

- name: upload {{name}} to binary cache via s3
  commands:
  - nix copy --to 's3://example-nix-cache?scheme=https&region=eu-central-1&endpoint=s3.lounge.rocks' $(nix-store -qR result/) -L
  environment:
    AWS_ACCESS_KEY_ID:
      from_secret: aws_key
    AWS_SECRET_ACCESS_KEY:
      from_secret: aws_secret

trigger:
  branch:
  - main
  - update-flake
  event:
  - cron
  - push
  - pull_request
{{/hosts}}

---
kind: pipeline
type: exec
name: build flake apps

platform:
  os: linux
  arch: amd64

clone:
  depth: 1

steps:

{{#apps}}
- name: Build {{name}}
  commands:
  - nix build .#{{name}}
  - nix copy --to 's3://example-nix-cache?scheme=https&region=eu-central-1&endpoint=s3.lounge.rocks' $(nix-store -qR result/) -L
  - nix path-info --closure-size -h $(readlink -f result)
  environment:
    AWS_ACCESS_KEY_ID:
      from_secret: aws_key
    AWS_SECRET_ACCESS_KEY:
      from_secret: aws_secret

{{/apps}}
trigger:
  branch:
  - main
  event:
  - push
  - pull_request

---
kind: pipeline
type: exec
name: build flake update

platform:
  os: linux
  arch: amd64

clone:
  depth: 1

steps:

- name: create result-old files
  commands:
  {{#hosts}}
  - nix build -v '.#nixosConfigurations.{{name}}.config.system.build.toplevel' # --option binary-caches "https://cache.lounge.rocks https://cache.nixos.org"
  - mv result {{name}}-old
  {{/hosts}}

- name: flake update
  commands:
  - nix --experimental-features "nix-command flakes" flake update

- name: Show git diff
  commands:
  - git diff

- name: Show flake info
  commands:
  - nix --experimental-features "nix-command flakes" flake show
  - nix --experimental-features "nix-command flakes" flake metadata
  - nix --experimental-features "nix-command flakes" flake check

- name: Run flake checks
  commands:
  - nix --experimental-features "nix-command flakes" flake check --show-trace
{{#hosts}}

- name: Build {{name}}
  commands:
  - nix build -v '.#nixosConfigurations.{{name}}.config.system.build.toplevel' # --option binary-caches "https://cache.lounge.rocks https://cache.nixos.org"

- name: upload {{name}} to binary cache via s3
  commands:
  # - nix copy --to 's3://example-nix-cache?scheme=https&region=eu-central-1&endpoint=s3.lounge.rocks' $(nix-store -qR result/) -L
  - mv result {{name}}-new
  # environment:
  #   AWS_ACCESS_KEY_ID:
  #     from_secret: aws_key
  #   AWS_SECRET_ACCESS_KEY:
  #     from_secret: aws_secret
{{/hosts}}

- name: Print report
  commands:
  {{#hosts}}
  - echo "{{name}}:" && nix store diff-closures $(readlink -f {{name}}-old) $(readlink -f {{name}}-new)
  {{/hosts}}

trigger:
  branch:
  - main
  event:
  - cron

---
kind: pipeline
name: push flake update
type: docker

steps:
- name: Update flake.lock
  image: nixpkgs/nix-flakes
  commands:
  - nix flake update --inputs-from nixpkgs
  - nix flake show
  - nix flake metadata
  - nix flake check --show-trace
  environment:
    NIX_PATH: nixpkgs=channel:nixos-unstable

- name: Push updated flake.lock
  image: appleboy/drone-git-push
  settings:
    branch: update-flake
    remote: git@github.com:MayNiklas/nixos.git
    force: true
    commit: true
    commit_message: "❄️ Update flake.lock"
    ssh_key:
      from_secret: deploy_key

- name: notify on failure
  image: drillster/drone-email
  settings:
    username: apikey
    from:
      from_secret: email_from
    host:
      from_secret: email_host
    password:
      from_secret: email_password
  when:
    status:
    - failure

trigger:
  branch:
  - main
  event:
  - cron
